<div class="elegant-aero">

    <h1>MyNote // <%= mostrar_meu_nome %></h1>

    <h2><%= t 'wellcome' %></h2>

    <h3><%= l Date.today %></h3>

    <ul>
    <li><%= link_to "Addresses", addresses_path %></li>
    <li><%= link_to "Contacts", contacts_path %></li>

    <li><a href="http://localhost:3000/kinds">Kinds</a></li>
    <li><a href="http://localhost:3000/phones">Phones</a></li>
    </ul>

</div>

